### 1- LES LISTES

In [ ]:
semaine_list = ["lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche"]
house_members = ["christian", "eliane", "romaric", "yves", "alionka", "garisson", "jannella", "elwan", "olwen", "marlonn"]
year = [1980, 1982, 1997, 1998, 2004, 2006, 2009, 2014, 2015, 2022]

In [ ]:
semaine_list[::2] #semaine[début:fin:step]

['lundi', 'mercredi', 'vendredi', 'dimanche']

In [11]:
if len(house_members) == len(year):
    print(f"Elles ont le même nombre d'élements")
else:
    print(f"Elles n'ont le même nombre d'élements")

Elles ont le même nombre d'élements

In [12]:
for position, person in enumerate(house_members):
    print(f"{position}-{person}")

0-christian
1-eliane
2-romaric
3-yves
4-alionka
5-garisson
6-jannella
7-elwan
8-olwen
9-marlonn

In [13]:
for person, birthday in zip(house_members, year):
    print(f"{person} est né en {birthday}")

christian est né en 1980
eliane est né en 1982
romaric est né en 1997
yves est né en 1998
alionka est né en 2004
garisson est né en 2006
jannella est né en 2009
elwan est né en 2014
olwen est né en 2015
marlonn est né en 2022

Exercice <br>
La suite de Syracuse (aussi appelée suite de Collatz ou conjecture de Syracuse) est une suite définie pour un entier naturel positif n comme suit :

Si n est pair, le terme suivant est n // 2.
Si n est impair, le terme suivant est 3n + 1.
La suite se termine lorsque n devient égal à 1.

Écrire un code permettant de calculer cette suite

In [14]:
n=60
suite_collatz = []
while n!= 1:
    if n%2 == 0:
        n = n//2
    else :
        n = 3*n + 1
    suite_collatz.append(n)

print(suite_collatz)

[30, 15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]

### 2- TUPLES

In [1]:
semaine = ("lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche")
type(semaine)

tuple

In [22]:
semaine.count("lundi")
semaine.index("mardi")

1

### 3- ENSEMBLES

### 4- DICTIONNAIRES